{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
    <h1>Page d'accueil</h1>
    {% for message in app.flashes('accessdenied') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
