{% extends 'base.html.twig' %}

{% block title %}Créer Une Nouvelle Annonce{% endblock %}

{% block body %}
    <h1>Créer Une Nouvelle Annonce</h1>

    {{ include('annonce/_form.html.twig') }}

    <a href="{{ path('app_annonce_index') }}">Retourner à la liste des annonces</a>
{% endblock %}
