{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    {% for flashMessage in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.flashes('message') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1>Mon Compte</h1>

    <h2>Modifier mon mot de passe</h2>
    <div class="form">
        <form method="post">
            <div class="form-field">
                <label for="pass">Nouveau mot de passe</label>
                <input type="password" id="pass" name="pass" class="form-control">
            </div>
            <div class="form-field">
                <label for="pass2">Confirmer nouveau mot de passe</label>
                <input type="password" id="pass2" name="pass2" class="form-control">
            </div>
            <button class="btn btn-dark" style="margin-top:10px;">Enregistrer</button>
        </form>
    </div>

    <h2>Modifier mes coordonnées</h2>
{% endblock %}
