{% extends 'base.html.twig' %}

{% block title %}Ajouter Un Commentaire{% endblock %}

{% block body %}
    <h1>Ajouter Un Commentaire (400 caractères maximum)</h1>

    {{ include('commentaire/_form.html.twig') }}
{% endblock %}
